
#name {
	position: absolute;
	left: 40%;
	top: 0;
	color: black;
	font-size: 38px;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	padding-top: 0%;
}

#list {
	color: black;
	padding-top: 250px;
}

body {
	background-image: url("Images/background.jpg");
}

#face {
	position: absolute;
	top: 60px;
	left: 41%;
	z-index:; 1;
}

.jumbotron {
	background-color: #00BFFF;
	background-image: url("Images/header.jpg");
	background-size: 100% 120%;
	height: 300px;
	margin-bottom: 10%;
}

.mynav {
	position: fixed;
	left: 0px;
	top: 0;
	padding-left: 0;
	opacity: 0.4;
	transition: 1s;
}

.mynav:hover {
	opacity: 1;
}

li a {
	background-color: black;
	display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    width: 100px;
    height: 75px;
    transition: 0.3s
}

li a:hover {
    background-color: #555;
    color: white;
    text-decoration: none;
}

.title {
	font-size: 30px;
	padding-left: 7%;
	padding-top: 1%;
	color: #00BFFF;
}

.icon {
	margin-bottom: 15%;
	float: left;
	object-fit: cover;
}

#projimg {
	position: relative;
	right: 20px;
	margin-top: 8%;
	margin-bottom: 8%;
	border-style: solid;
	border-width: 2px;
	border-color: #00BFFF;
}

#projimg:hover {
	-webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    border-color: yellow;
}

#projimg2 {
	position: relative;
	margin-top: 5%;
	margin-bottom: 5%;
	border-style: solid;
	border-width: 2px;
	border-color: #00BFFF;
}

#projimg2:hover {
	-webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    border-color: yellow;
}

ul {
	list-style-type: none;
	margin: 0;
}

ul li {
	font-size: 18px;
}

.last {
	margin-bottom: 12%;
}

.well {
	background-color: #625F5F;
	color: white;
	padding: 3%;
	margin-bottom: 5%;
	font-family: "Open-sans";
	font-size: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: #00BFFF;
}

#circle {
	width: 15px;
	height: 15px;
	border-radius: 25px;
	background-color: #00BFFF;
	margin-bottom: 2%;
}

#bigc {
	width: 25px;
	height: 25px;
	border-radius: 35px;
	background-color: #00BFFF;
	margin-bottom: 2%;
}

#smallc {
	width: 8px;
	height: 8px;
	border-radius: 18px;
	background-color: #00BFFF;
	margin-bottom: 2%;
}

p {
	line-height: 120%;
	margin-left: 2%;
}

#git {
	color: orange;
	font-size: 18px;
}

#skillwell {
	padding-bottom: 1%;
}

#wk {
	float: left;
	margin-right: 40%;
	margin-left: 6%;
}

#bk {
	position: relative;
	margin-left: 10%;
}

#blist {
	position: relative;
	left: 4%;
}

#wtitle {
	color: 	#7CFC00;
}

#btitle {
	color: 	#FFFF00;
}

.panel {
	background-color: #625F5F;
	margin-bottom: 0;
	width: 38%;
	border-style: solid;
	border-width: 2px;
	border-color: #00BFFF;
	font-size: 30px;
	padding-top: 1%;
	font-family: "Arial Black", Gadget, sans-serif;
	font-style: bold;
	color: white;
}

i {
	padding-top: 0%;
	margin-bottom: 1%;
	float: left;
	margin-left: 8%;
	margin-right: 7%;
	color: white;
}

i:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    color: #00BFFF;
}

h3 {
	color: white;
	font-size: 18px;
}